@model List<Planiranje.Models.Ucenici.RazredniOdjel>
@{
    Layout = null;
}
<div class="form-group">
    <label>Razred:</label>
    <select id="selectRazred" onchange="promjenaRazreda()" class="form-control">
        <option value="0">Odaberi razred</option>
       @foreach(var item in Model)
       {
           <option value="@item.Id">@item.Naziv</option>
       }
    </select>
</div>
