@model Planiranje.Models.Godisnji_plan

@{
	Layout = null;
}

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">@ViewBag.Title</h4>
		</div>
		@using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "obrisiGodPlanModalView", @class = "form-horizontal", role = "form" }))
		{
			<div class="modal-body">
				@Html.HiddenFor(model => model.Id_god)
				<div class="form-group">
					<div class="col-md-10">
						<h5>
							Jeste li sigurni da želite obrisati akademsku godinu "@Html.DisplayFor(model => model.Ak_godina, new { htmlAttributes = new { @class = "form-control" } })"?
						</h5>
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
						<input id="obrisiGodNoviPlan" type="button" class="btn btn-danger" value="Obriši" />
					</div>
				</div>
			</div>
		}
	</div>
</div>

<script>
	$(document).ready(function () {
		$('#obrisiGodNoviPlan').click(function ()
		{
			var data = $('#obrisiGodPlanModalView').serialize();
			$.ajax({
				url: "/GodisnjiPlan/Delete",
				type: "POST",
				data: data,
				success: function (data) {
					$('#assetModal2').modal('hide');
					$('.modal-backdrop').remove();
					$("#content").html(data);
				},
				error: function (request, status, error) {
					console.log(request.responseText);
				}
			});
		});
	});
</script>
