@model Planiranje.Models.Godisnji_plan

@{
	Layout = null;
}
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Brisanje godišnjeg plana</h4>
		</div>
		@using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "obrisiGodPlanModalView", @class = "form-horizontal", role = "form" }))
		{
			<div class="modal-body">
				@Html.HiddenFor(model => model.Id_god)
				<div class="form-group">
					<div class="col-md-10">
                        <h5>
                            @{ int god = Model.Ak_godina + 1;}
                            Jeste li sigurni da želite obrisati plan <b>@Html.DisplayFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })</b>
                            za školsku godinu <b>@Model.Ak_godina./@god.</b>?
                        </h5>
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
						<input type="button" class="btn btn-danger" value="Obriši" onclick="reload('@Url.Action("Delete","GodisnjiPlan")','#obrisiGodPlanModalView')" />
					</div>
				</div>
			</div>
		}
	</div>
</div>
