@model Planiranje.Models.SSModel

@{
	Page.Title = ViewBag.Title;
	Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div class="inner">
	<div class="row">
		<div class="col-lg-12">
			<h3>@ViewBag.Title</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						@if (ViewBag.HasGodPlan == true)
						{
							<div class="col-lg-1">
								<p style="padding: 8px 0px">Školska godina:</p>
							</div>
							<div class="col-lg-3">
								@Html.DropDownList("Model.GodisnjiPlanovi", Model.GodisnjiPlanovi, new { @class = "form-control", @id = "godPlanoviChangeSS" })
							</div>
						}
						else
						{
							<div class="col-lg-3">
								<h5>Za kreiranje mjesečnog plana morate dodati godišnji plan!</h5>
							</div>
						}
						@if (ViewBag.HasGodPlan == true)
						{
							<div class="col-lg-8">
								<div class="pull-right">
									<input type="button" class="btn btn-primary btn-md" value="Novi plan" onclick='showModal("@Url.Action("NoviPlan", "PlanSs", new { id_god = Model.ID_GODINA })")' />
								</div>
							</div>
						}
					</div>
				</div>
				<div class="panel-body">
					@if (Model.SS_Planovi.Count > 0)
					{
						@Html.Partial("Table", Model)
					}
					else
					{
						if (ViewBag.HasGodPlan == true)
						{
							<p>Nema mjesečnih planova</p>
						}
					}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$("#dataTable").dataTable();
	});
</script>
