@model Planiranje.Models.SSModel

@{
	Layout = null;
}

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Brisanje podatka</h4>
		</div>
		@using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "obrisiSSPlanModalView", @class = "form-horizontal", role = "form" }))
		{
		<div class="modal-body">
			@Html.HiddenFor(model => model.ID_PLAN)
			@Html.HiddenFor(model => model.ID_GODINA)
			<div class="form-group">
				<div class="col-md-10">
					<h5>Jeste li sigurni da želite obrisati "@Html.DisplayFor(model => model.SS_Plan.Naziv, new { htmlAttributes = new { @class = "form-control" } })"?</h5>
				</div>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
					<input type="button" class="btn btn-danger" value="Obriši" onclick='hideModal("/PlanSs/Delete", "#obrisiSSPlanModalView", "Plan uspješno obrisan")' />
				</div>
			</div>
		</div>
		}
	</div>
</div>
