.pointer {
	cursor : pointer;
}

.edit-naziv {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	border-radius: 5px;
	padding: 8px;
	margin : 10px 0;
	font-size : 1.2em;
}

.edit-opis {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	min-height: 40px;
	max-height: 500px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	border-radius: 5px;
	padding: 8px;
	margin: 10px 0;
}

.search-bar {
	padding: 5px;
	border-radius: 5px;
	border-style: solid;
	margin: auto 10px;
}

.inner {
	min-height:0px;
}

.edit-opis-detalji {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	min-height: 35px;
	height: 35px;
	max-height: 100px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	border-radius: 5px;
	padding: 8px;
	margin: 0;
}

.edit-text-area {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	min-height: 84px;
	height: 84px;
	max-height: 84px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	border-radius: 5px;
	padding: 5px;
	margin: 0;
}

/*SNACK-BAR*/
#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #428bca;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 25px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}
/*!SNACK-BAR*/
