@using Planiranje.Models
@{
    Page.Title = "Popis učenika";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
<div class="inner">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Odabir aktivnosti:</label>
                <select id="selectAktivnost" onchange="promjenaAktivnost()" class="form-control">
                    <option value="/PopisUcenika" selected>Popis učenika u razrednom odjelu</option>
                    <option value="/UcenikBiljeska">Bilješke o radu s učenikom</option>
                    <option value="/PracenjeUcenika">Lista praćenja učenika - pedagoška obrada i anamneza</option>
                    <option value="/PromatranjeUcenika">Protokol promatranja</option>
                    <option value="/UcenikZapisnik">Zapisnik praćenja napredovanja učenika</option>
                </select>
            </div>
        </div>
        <br />
        <div class="col-lg-3 pull-right">
            <a onclick="ispis('@Url.Action("Ispis","PopisUcenika")')" class="btn btn-info btn-sm">Ispis</a>
        </div>
    </div>

    <hr />


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Školska godina:</label>
                                <select id="selectGodina" onchange="promjenaGodine()" class="form-control">
                                    <option value="0">Odaberi školsku godinu</option>
                                    @foreach (var item in ViewBag.godine as List<Sk_godina>)
                                    {
                                        int godina = item.Sk_Godina + 1;
                                        <option value="@item.Sk_Godina">@item.Sk_Godina./@godina.</option>
                                    }
                                </select>
                            </div>
                        </div><!--END COL 3-->
                        <div class="col-lg-3" id="razredi">

                        </div>

                    </div><!--END ROW -->
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div id="tablica" class="col-lg-12">

                        </div>
                    </div> <!--END ROW -->

                </div>
            </div>
        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        if (window.sessionStorage.getItem("UC_select") != null) {
            var saved = window.sessionStorage.getItem("UC_select");
            if ($("#selectAktivnost").val() != saved) {
                reloadPage(saved + "/Index");
            }
        }
        if (window.sessionStorage.getItem("UC_popis_godina") != null) {
            var saved = window.sessionStorage.getItem("UC_popis_godina");
            $("#selectGodina").val(saved);
            promjenaGodine();
        }
    });

    function ispis(path) {
        var val = $("#selectRazred");
        if (val.length) {
            val = $("#selectRazred").val();
            if (val != "0" && val != "-1") {
                path += "?id=" + val;
                window.open(path);
                //$.get(path, function (data, status) {

                //});
            }
            else {
                showSnackBar("Morate odabrati razred");
            }
        }
        else {
            showSnackBar("Morate odabrati razred");
        }
        
    }

    function promjenaGodine() {
        var val = $("#selectGodina").val();
        if (val != "0") {            
            $.ajax({
                url: '/PracenjeUcenika/OdabirRazreda?godina=' + val,
                success: function (data) {
                    $("#razredi").html(data);
                    var x = document.getElementById("selectRazred");
                    x.remove(1);
                    var saved = window.sessionStorage.getItem("UC_popis_razred");
                    var god = window.sessionStorage.getItem("UC_popis_godina");
                    if (saved != null && god == val) {
                        $("#selectRazred").val(saved);
                        promjenaRazreda();
                    }
                }
            });
            
        }
        else {
            $("#razredi").empty();
        }
        $("#tablica").empty();        
    }
    function promjenaRazreda() {
        var val = $("#selectRazred").val();
        var god = $("#selectGodina").val();
        window.sessionStorage.setItem("UC_popis_godina", god);        
        if (val != "0") {
            window.sessionStorage.setItem("UC_popis_godina", god); 
            window.sessionStorage.setItem("UC_popis_razred", val);
            $.ajax({
                url: '/PopisUcenika/PrikazUcenika?razred=' + val,
                success: function (data) {
                    $("#tablica").html(data);
                    $("#dataTable").dataTable();
                }
            });
        }
        else {
            $("#tablica").empty();            
        }
    }
    function zatvoriModal(path, id, spremi, poruka) {
        var dt = $(id).serialize();
        $.ajax({
            url: path,
            type: "POST",
            data: dt,
            success: function (data) {
                if ($(data)[0].className === "table-responsive") {
                    $(spremi).html(data);
                    $('#modal').modal('hide');
                    $('#modalContainer').removeData();
                    $('.modal-backdrop').remove();
                    showSnackBar(poruka);
                }
                else if ($(data)[0].tagName === "DIV") {
                    $("#modalContainer").html(data);
                }
                else {
                    location.reload();
                }
            },
            error: function (request, status, error) {
                console.log(request.responseText);
            }
        });
    }
    function promjenaAktivnost() {
        var val = $("#selectAktivnost").val();
        window.sessionStorage.setItem("UC_select", val);
        val = val + "/Index";
        reloadPage(val);
    }
    function provjeriEnter(event, path, form, target, poruka) {
        if (event.type === "keydown") {
            if (event.keyCode === 13) {
                event.preventDefault();
                zatvoriModal(path, form, target, poruka);
            }
        }
    }
</script>