@model List<Planiranje.Models.OS_Plan_2>

@{
    Page.Title = "Godipnji planovi za osnovnu školu";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
<div class="inner">    
    <div class="row">
        <div class="col-lg-12">
            <h3> Pregled godišnjih planova i programa rada stručnog suradnika pedagoga za osnovnu školu </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <div class="pull-left">
                            <button type="button" class="btn btn-primary btn-sm" onclick="showModal('@Url.Action("NoviPlan", "PlanOs2")')">
                                Novi plan
                            </button>                           
                            @*@Html.ActionLink("Ispiši listu", "Ispis", new { target = "blank" })*@
                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Ispis", "PlanOs2")" class="btn btn-success btn-sm" target="_blank">ISPIS POPISA</a>
                        </div>
                        <br />
                        <br />
                        <br />
                    </div>
                    @Html.Partial("Table", Model)

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#dataTable-planOs2').dataTable({ stateSave: true });
    });
</script>
<script>
    $(document).ready(function () {
        @if (TempData["note"] != null)
        {
            @:showSnackBar("@TempData["note"]");
        }        
    });
</script>