@model Planiranje.Models.OS_Plan_2

@{
	Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Brisanje plana</h4>
        </div>
         @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "noviPlanModalView", @class = "form-horizontal", role = "form" }))
		{
        <div class="modal-body">
            @Html.HiddenFor(model => model.Id_plan)
            <div class="form-group">
                <div class="col-md-10">
                    <h5>
                        Jeste li sigurni da želite obrisati <b>@Html.DisplayFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })</b>?
                    </h5>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                    <input type="button" onclick="reload('@Url.Action("Delete","PlanOs2")','#noviPlanModalView')" class="btn btn-danger" value="Obrisi" />
                </div>
            </div>
        </div>
		}
    </div>
</div>