<div class="inner">
	<div class="row">
		<div class="col-md-12">
			<h3> Pregled godišnjih planova </h3>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Podaci iz baze</div>
				<div class="panel-body">
					<p>
						<a href="#" class="btn btn-primary btn-xs btn-grad">Novi plan</a>
					</p>
					<div class="table-responsive">
						<table class="table table-bordered table-hover" id="dataTables-example">
							<thead>
								<tr>
									<th>#</th>
									<th>Naziv godišnjeg plana</th>
									<th>Šk. god.</th>
									<th>Radni dani</th>
									<th>God. fond</th>
									<th>Aktivnost</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="col-md-1">1.</td>
									<td class="col-md-6">Godišnji plan OŠ - Vladimira Nazora</td>
									<td class="col-md-1">2017./2018.</td>
									<td class="col-md-1">248</td>
									<td class="col-md-1">1744</td>
									<td class="col-md-2">
										<a href="#" class="btn btn-primary btn-xs btn-grad">Uredi</a>
										<a href="#" class="btn btn-info btn-xs btn-grad">Prikaži</a>
										<a href="#" class="btn btn-danger btn-xs btn-grad">Briši</a>
									</td>
								</tr>
								<tr>
									<td>2.</td>
									<td>Godišnji plan OŠ - Vladimira Nazora</td>
									<td>2018/2019.</td>
									<td>248</td>
									<td>1744</td>
									<td>
										<a href="#" class="btn btn-primary btn-xs btn-grad">Uredi</a>
										<a href="#" class="btn btn-info btn-xs btn-grad">Prikaži</a>
										<a href="#" class="btn btn-danger btn-xs btn-grad">Briši</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

