<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>BCORE Admin Dashboard Template | Data Tables</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="../assets/css/main.css" />
	<link rel="stylesheet" href="../assets/css/theme.css" />
	<link rel="stylesheet" href="../assets/css/MoneAdmin.css" />
	<link rel="stylesheet" href="../assets/plugins/Font-Awesome/css/font-awesome.css" />
	<link href="../assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body class="padTop53 ">
	<div id="wrap">
		<div id="top">
			<nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
				<a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
					<i class="icon-align-justify"></i>
				</a>
				<header class="navbar-header">
					<a href="Index" class="navbar-brand">
						<img src="../assets/img/logo.png" alt="" />
					</a>
				</header>
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li>
								<a href="#"><i class="icon-user"></i> Korisničk profil </a>
							</li>
							<li>
								<a href="#"><i class="icon-gear"></i> Osobne postavke </a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="Prijava"><i class="icon-signout"></i> Odjava </a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		@Html.Partial("Navigation")
		<div id="content">






		</div>
		<!--END PAGE CONTENT -->


	</div>

	<!--END MAIN WRAPPER -->
	<!-- FOOTER -->
	@Html.Partial("Footer")
	<!--END FOOTER -->
	<!-- GLOBAL SCRIPTS -->
	<script src="../assets/plugins/jquery-2.0.3.min.js"></script>
	<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="../assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<!-- END GLOBAL SCRIPTS -->
	<!-- PAGE LEVEL SCRIPTS -->
	<script src="../assets/plugins/dataTables/jquery.dataTables.js"></script>
	<script src="../assets/plugins/dataTables/dataTables.bootstrap.js"></script>
	<script>
		$(document).ready(function () {
			$('#dataTables-example').dataTable();
		});
	</script>
	<!-- END PAGE LEVEL SCRIPTS -->
</body>
<!-- END BODY -->
</html>
