@model  List<Planiranje.Models.Mjesecni_plan>
@{
	Page.Title = ViewBag.Title;
}

<div class="inner">
	<div class="row">
		<div class="col-md-12">
			<h3> Pregled mjesečnih planova </h3>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Podaci iz baze</div>
				<div class="panel-body">
					<p>
						<a href="#" class="btn btn-primary btn-xs btn-grad">Novi plan</a>
					</p>
					<div class="table-responsive">
						<table class="table table-bordered table-hover" id="dataTables-example">
							<thead>
								<tr>
									<th class="col-md-1">#</th>
									<th class="col-md-3">Naziv mjesečnog plana</th>
									<th class="col-md-1">Šk. godina</th>
									<th class="col-md-5">Opis</th>
									<th class="col-md-2">Aktivnost</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var plan in Model)
								{
									<tr>
										<td>@Html.DisplayFor(planItem => plan.ID_plan)</td>
										<td>@Html.DisplayFor(planItem => plan.Naziv)</td>
										<td>@Html.DisplayFor(planItem => plan.Ak_godina)</td>
										<td>@Html.DisplayFor(planItem => plan.Opis)</td>
										<td class="text-right">
											<a href="#" class="btn btn-primary btn-xs btn-grad">Uredi</a>
											<a href="#" class="btn btn-info btn-xs btn-grad">Prikaži</a>
											<a href="#" class="btn btn-danger btn-xs btn-grad">Briši</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>