@model Planiranje.Models.CIljeviModel

<table class="table table-bordered table-hover" id="dataTable">
    <thead>
        <tr>
			<td class="col-lg-1">#</td>
            <td class="col-lg-9">Naziv</td>
            <td class="col-lg-2">Akcija</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ciljevi)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Red_br)</td>
                <td>@Html.DisplayFor(modelItem => item.Naziv)</td>
                <td>
                    <div class="pull-right">
                        <a data-toggle="modal" data-url="@Url.Action("Edit","Ciljevi",new { id = item.ID_cilj })" id="editAsset" class="btn btn-primary btn-xs ">Uredi</a>
                        <a data-toggle="modal" data-url="@Url.Action("Delete","Ciljevi",new { id = item.ID_cilj })" id="deleteAsset" class="btn btn-danger btn-xs ">Obriši</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
