@model Planiranje.Models.ObliciMetodeModel

<table class="table table-bordered table-hover" id="dataTable">
    <thead>
        <tr>
            <td class="col-lg-1">
                #
            </td>
            <td class="col-lg-9">
                Naziv
            </td>            
            <td class="col-lg-2">
                Akcija
            </td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.oblici)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_oblici)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                
                <td>
					<div class="pull-right">
						<input type="button" class="btn btn-default btn-xs" value="Uredi" onclick='showModal("@Url.Action("Edit","ObliciMetode",new { id = item.Id_oblici })")' />
						<input type="button" class="btn btn-danger btn-xs" value="Briši" onclick='showModal("@Url.Action("Delete","ObliciMetode",new { id = item.Id_oblici })")' />
					</div>
                </td>
            </tr>
        }
    </tbody>
</table>
