@model Planiranje.Models.Ucenici.UcenikBiljeskaModel
    @{
        Layout = null;
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <form class="form-horizontal">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label col-lg-12">Odabrani učenik: @Model.Ucenik.ImePrezime</label>
                        </div>
                    </div>                    
                    <div class="col-lg-9">
                    </div>
                </form>
            </div><!--END ROW -->
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#osobni" data-toggle="tab">Osobni podaci</a>
                    </li>
                    <li>
                        <a href="#obitelj" data-toggle="tab">Obitelj/Skrbnici</a>
                    </li>
                    <li>
                        <a href="#inicijalni" data-toggle="tab">Inicijalni podaci</a>
                    </li>
                    <li>
                        <a href="#biljeska" data-toggle="tab">Mjesečna bilješka</a>
                    </li>
                    <li>
                        <a href="#zapazanja" data-toggle="tab">Zapažanja</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="osobni">
                        @{ Html.RenderPartial("Osobni", Model);}
                    </div><!--END osobni podaci -->
                    <div class="tab-pane fade" id="obitelj">
                        @{ Html.RenderPartial("Obitelj", Model);}
                    </div><!--END TAB obitelj -->
                    <div class="tab-pane fade" id="inicijalni">
                        @{ Html.RenderPartial("Inicijalni", Model);}
                    </div><!--END TAB inicijalni podaci -->
                    <div class="tab-pane fade" id="biljeska">
                        @{ Html.RenderPartial("Biljeska", Model);}
                    </div> <!--END TAB bilješka -->
                    <div class="tab-pane fade" id="zapazanja">
                        @{ Html.RenderPartial("Zapazanja", Model);}
                    </div> <!--END TAB zapažanja -->
                </div>
            </div>
        </div>
    </div><!--END COL 9 -->