@model Planiranje.Models.Ucenici.UcenikBiljeskaModel
    @{
        Layout = null;
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <form class="form-horizontal">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label col-lg-12">Odabrani učenik: @Model.Ucenik.ImePrezime</label>
                        </div>
                    </div>                    
                    <div class="col-lg-9">
                    </div>
                </form>
            </div><!--END ROW -->
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#osobni" data-toggle="tab">Osobni podaci</a>
                    </li>
                    <li>
                        <a href="#obitelj" data-toggle="tab">Obitelj/Skrbnici</a>
                    </li>
                    <li>
                        <a href="#inicijalni" data-toggle="tab">Inicijalni podaci</a>
                    </li>
                    <li>
                        <a href="#biljeska" data-toggle="tab">Mjesečna bilješka</a>
                    </li>
                    <li>
                        <a href="#zapazanja" data-toggle="tab">Zapažanja</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="osobni">
                        @{ Html.RenderPartial("Osobni", Model);}
                    </div><!--END osobni podaci -->
                    <div class="tab-pane fade" id="obitelj">
                        @{ Html.RenderPartial("Obitelj", Model);}
                    </div><!--END TAB obitelj -->
                    <div class="tab-pane fade" id="inicijalni">
                        @{ Html.RenderPartial("Inicijalni", Model);}
                    </div><!--END TAB inicijalni podaci -->
                    <div class="tab-pane fade" id="biljeska">
                        <p>
                            <a href="#" class="btn btn-primary btn-xs btn-grad"> Novi bilješka</a>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Mjesec</th>
                                        <th>Šk.godina</th>
                                        <th>Bilješka</th>
                                        <th>Aktivnost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-md-1">Siječanj</td>
                                        <td class="col-md-2">2017./2018.</td>
                                        <td class="col-md-7">Učenik je ......<br>abc<br>123</td>
                                        <td class="col-md-2">
                                            <a href="#" class="btn btn-primary btn-xs btn-grad">Uredi</a>
                                            <a href="#" class="btn btn-info btn-xs btn-grad">Info</a>
                                            <a href="#" class="btn btn-danger btn-xs btn-grad">Briši</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Veljača</td>
                                        <td class="col-md-2">2017./2018.</td>
                                        <td class="col-md-7">Učenik je ......<br>abc<br>123</td>
                                        <td class="col-md-2">
                                            <a href="#" class="btn btn-primary btn-xs btn-grad">Uredi</a>
                                            <a href="#" class="btn btn-info btn-xs btn-grad">Info</a>
                                            <a href="#" class="btn btn-danger btn-xs btn-grad">Briši</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> <!--END TAB bilješka -->
                    <div class="tab-pane fade" id="zapazanja">
                        @{ Html.RenderPartial("Zapazanja", Model);}
                    </div> <!--END TAB zapažanja -->
                </div>
            </div>
        </div>
    </div><!--END COL 9 -->