@model Planiranje.Models.Aktivnost

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Brisanje podatka</h4>
        </div>
        @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "obrisiAktivnostView", @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                @Html.HiddenFor(model => model.Id_aktivnost)
                <div class="form-group">
					<div class="col-md-10">
					@if (ViewBag.ErrorMessage == null)
					{
					<h5>
						Jeste li sigurni da želite obrisati slijedeću aktivnost?                        
					</h5>
                    @Html.TextAreaFor(model => model.Naziv, new { @class = "edit-opis", disabled="" })
					}
					else
					{
						@ViewBag.ErrorMessage;
					}
					</div>
                </div>
                <div class="modal-footer">
					<div class="form-group">
						<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
						@if (ViewBag.ErrorMessage == null)
						{
							<input type="button" class="btn btn-danger" value="Obriši" onclick='hideModal("/Aktivnosti/Delete", "#obrisiAktivnostView", "Aktivnost uspješno obrisana!")' />
						}
					</div>
                </div>
            </div>
        }
    </div>
</div>