@model Planiranje.Models.SubjektiModel

<table class="table table-bordered table-hover" id="dataTableSubjekt">
    <thead>
        <tr>
            <td class="col-lg-1">#</td>
            <td class="col-lg-9">Naziv</td>
			<td class="col-lg-2">Akcija</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.subjekti)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Red_br)</td>
                <td>@Html.DisplayFor(modelItem => item.Naziv)</td>               
                <td>
                    @if (item.Vrsta != 0)
                    {
					<div class="pull-right">
						<input type="button" class="btn btn-default btn-xs" value="Uredi" onclick='showModal("@Url.Action("Edit", "Subjekti", new { id = item.ID_subjekt })")' />
						<input type="button" class="btn btn-danger btn-xs" value="Obriši" onclick='showModal("@Url.Action("Delete", "Subjekti", new { id = item.ID_subjekt })")' />
					</div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
